@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');



.card img{
    height:200px;
}

.inner{
    overflow: hidden;
}
/* .card img:hover{
    transform: scale(1.5);
    transition: 1s;
} */

.projectbtn{
    background-color: green !important;
}

.ptitle{
    color:blue;
    font-weight: bold;
    text-align: center;
}

.cshadow{
    box-shadow: 5px 5px 15px rgba(0,0,0,0.5) !important;
}

.ppara{
   text-align: justify;
  height: 70px;
}

.inventory{
    background-color: rgb(236, 135, 52) !important;
   color:white !important;
}

.blog{
    background-color: rgb(135, 34, 230) !important;
    color:white !important;
}

.parking{
    background-color: rgb(8, 131, 18) !important;
    color:white !important;
}

.chat{
    background-color: rgb(96, 107, 212) !important;
    color:white !important;
}